<div class="p-8">
  <%= render 'calendar' %>
  <div class="flex flex-col md:flex-row gap-x-8 mt-8 items-start">
    <%= render 'info' %>
    <%= render 'courses' %>
  </div>
</div>

<%= render 'create_event_popup' %>
