<div class="border border-gray-300 rounded-md p-4 my-4 w-full">
  <div class="bg-[#002664] text-white text-xl font-semibold px-4 py-2">
    ЛНУ імені Івана Франка
  </div>
  <div class="mt-2 px-4">
    <%= link_to 'На головну', root_path, class: "text-blue-600 hover:underline text-sm" %>
  </div>
</div>
